
#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30vw;
}

#botoes button{
    display: flex;
    border: none;
    border-radius: .5vw;
    align-items: center;
    justify-content: center;
    width: 6vw;
    /* height: 5.5vh; */
    height: clamp(2.6vw, 5.5vh, 3vw);    
}

#botoes :first-child{

    display: flex;
    gap: .5vw;
    font-size: clamp(1vw, 0.95rem, 1.2vw);
}

#botoes :first-child img{
    width: 1.5vw;
}

#botoes_adm{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    white-space: nowrap;
}

#botoes_adm button{
    width: 12vw;
    font-size: clamp(1vw, 0.95rem, 1.2vw);

}

#botoes button{
    /* transition: transform 0.5s ease, color 0.5s ease;  */
    transition: .25s ease-in-out;

}

#botoes button:hover{
    cursor: pointer;
    background-color: var(--laranja-destaque);
}




#hamburgueres_lado_sup{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

