.cardapio{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(2vw, 50px, 4vw);
    margin: 0 0 5% 0;
}

.cardapio h2
{
    font-size: var(--tamanho-h2);
    color: var(--laranja-destaque);
    font-weight: 400;
}


.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botoes button{
    display: flex;
    border: none;
    border-radius: .5vw;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: clamp(2.6vw, 5.5vh, 3vw);    
}

.botoes :first-child{

    display: flex;
    gap: .5vw;
    font-size: clamp(1vw, 0.95rem, 1.2vw);
}

.botoes :first-child img{
    width: 1.5vw;
}

.botoes_adm{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    white-space: nowrap;
}

.botoes_adm button{
    width: 12vw;
    font-size: clamp(1vw, 0.95rem, 1.2vw);

}

.botoes button{
    background-color: var(--laranja-destaque);
    transition: .25s ease-in-out;

}

.botoes button:hover{
    background-color: var(--fundo-escuro);
    cursor: pointer;
}




.hamburgueres_lado_sup{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

