 .lista_cardapios {
    list-style: none;

    width: 100%;

    border-radius: 1vw;
    overflow: hidden;
    background-color: var(--fundo-branco);
    box-shadow: var(--box-shadow)
}

.ex_card {
    width: 100%;
    height: auto;
    display: block;
    
}

.lista_cardapios h4 {
    background-color: #5a1d0c;
    color: var(--laranja-destaque);
    text-align: center;
    padding: 4%;
    margin: 0;
    font-size: clamp(2vw, 2rem, 2.2vw);
}

.lista_cardapios p {
    padding: 10% 15%;
    text-overflow: ellipsis;
    line-height: 1.4;
    /* white-space: nowrap; */
    height: auto;
    overflow: hidden;
    margin: 0;
    color: var(--fonte-escura);
    font-size: clamp(0.95rem, 1vw, 1.2vw);
}

.botoes {
    background-color: #5a1d0c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8% 4%;
}

.botoes span {
    color: var(--laranja-destaque);
    font-weight: bold;
    font-size: clamp( 1.6vw, 2rem, 2.2vw);

}

.botoes button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    /* font-size: 1.5rem; */
    transition: transform 0.2s ease, color 0.2s ease; 
}

.icone_botao {
    font-size: 1.5vw;
}

.botoes button{
    white-space: nowrap;
    color: var(--laranja-destaque);
}

.botoes button:hover {
    transform: scale(1.5);
    color: color-mix(in srgb, var(--laranja-destaque) 70%, white);
}


@media (max-width:768px)
{
    
}