*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-fredoka);
}

body{
    background-color: var(--fundo-claro);

}

:root{
    --fundo-claro: #f1f1f1;
    --fundo-escuro: #232122;
    --laranja-destaque: #FFA300;
    --vinho: #451201;
    --fonte-escura: #000000;
    --box-shadow: 0 4px 12px rgba(0,0,0,0.45);

    --tamanho-h2: clamp(4.2vw, 4.8rem, 4.6vw);
    --tamanho-label: ;

  /* 
  --fundo-claro-rgb: rgb(241, 241, 241);
  --fundo-escuro-rgb: rgb(35, 33, 34);
  --laranja-destaque-rgb: rgb(255, 163, 0);
  --vinho-rgb: rgb(69, 18, 1);
  --fonte-escura-rgb: rgb(0, 0, 0); 
  */

    --tamanho-titulo: 50px;
    --tamanho-texto-btn: 17px;
    --tamanho-p: 16px;
}

.layout_guide
{
    width: 80%;
}

