#header{
    background-color: var(--vinho);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    gap: 20px;
}

#img_footer{
    width: 275px;
}

#links{
text-decoration: none;
color: var(--laranja-destaque);
font-size: 30px;
}