#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner
{
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.banner h1{
    color: var(--laranja-destaque);
    font-size: 80px;
    font-size: clamp(40px, 80px, 80px);
}

.banner img{
    width: 830px;
}

#nav_links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#nav_links a {
    width: 450px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    transition: .38s ease-in-out;

}


#nav_links a:nth-child(1) {
    background-color: var(--laranja-destaque);
    color: var(--vinho);
}

#nav_links a:nth-child(2) {
  background-color: var(--vinho);
  color: var(--laranja-destaque);
}

#nav_links a:hover{
    transition: .38s ;
    width: 440px;
    border-radius: 1.2vw;
}


.destaques{
    background-color: var(--fundo-escuro);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    padding: 1% 15%;
    height: 66vh;
    width: 100%;
    gap: 4vw;
}

#lado_esq{
    background-image: url("/imgs/mais_pedidos.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    height: 70%;
    width: 25vw;
    color: var(--fundo-claro);
    padding-bottom: 2%;
    padding-left: 2%;
}

#lado_esq p {
    /* margin-left: 4%;
    margin-bottom: 3%; */
    font-size: 25px;
}

#lado_dir{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 70%;
    width: 20vw;
    
}

#lado_dir article{
    height: 50%;
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: var(--fundo-claro); 
    padding-bottom: 2%;
    padding-right: 2%;
}

#lado_dir #lado_super{
    background-image: url("/imgs/muito_bacon.png");
}

#lado_dir #lado_infer{
    
    background-image: url("/imgs/super_combos.png");

}


.unidades{
    width: 100%;
    height: 65vh;
    background-color: var(--fundo-escuro);
    margin: 5% 0 0 0 ;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1% 5%;
    

}
.unidades #img{
    background-image: url("/imgs/unidade.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    width: 35vw;
    height: clamp(25vw, 50vh, 40vw);
    border-radius: .5vw;
    transition: transform 0.6s ease; 
    
}

.unidades #img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.unidades #textos_direita{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    color: var(--fundo-claro);
}

#textos_direita h5{
    font-size: 30px;
    margin-bottom: 10%;
}
#textos_direita li{
    font-size: 28px;
}








@media (max-width: 768px)
{
    #unidades
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    #unidades #img{
        display: none;
    }
}






