#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner
{
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: center;
}

.banner h1{
    color: var(--laranja-destaque);
    font-size: clamp(4.2vw, 5rem, 4.6vw);
}

.banner img{
    /* width: 830px; */
    width: 48vw;
    width: clamp(48vw, 830px, 50vw);
    
}

#nav_links{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#nav_links a {
    width: clamp(23.5vw, 455px, 24vw);
    height: clamp(3.6vw, 70px, 3.7vw);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3vw;
    text-decoration: none;
    font-size: clamp(1.6vw, 30px, 1.7vw);
    font-weight: 500;
    transition: .38s ease-in-out;
    position: static;

}


#nav_links a:nth-child(1) {
    background-color: var(--laranja-destaque);
    color: var(--vinho);
}

#nav_links a:nth-child(2) {
  background-color: var(--vinho);
  color: var(--laranja-destaque);
}

#nav_links a:hover{
    transition: .38s ;
    width: clamp(23vw, 440px, 24vw);
    border-radius: 1.2vw;
}


.destaques{
    background-color: var(--fundo-escuro);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    padding: 1% 15%;
    height: 75vh;
    width: 100%;
    gap: 2vw;
}

#lado_esq{
    background-image: url("/imgs/mais_pedidos.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    height: 80%;
    width: 29vw;
    color: var(--fundo-claro);
    padding-bottom: 2%;
    padding-left: 2%;
}

#lado_esq p, #lado_dir p {
    font-size: clamp(1.7vw, 30px, 1.9vw);
}
.destaques h3{
    font-size: clamp(2vw, 40px, 2.3vw);
}

#lado_dir{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 80%;
    width: 29vw;
    
}

#lado_dir article{
    height: 50%;
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: var(--fundo-claro); 
    padding-bottom: 2%;
    padding-right: 2%;
}

#lado_dir #lado_super{
    background-image: url("/imgs/muito_bacon.png");
}

#lado_dir #lado_infer{
    
    background-image: url("/imgs/super_combos.png");

}


.unidades{
    width: 100%;
    height: 65vh;
    background-color: var(--fundo-escuro);
    margin: 5% 0 0 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1% 5%;
    

}
.unidades #img{
    background-image: url("/imgs/unidade.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    width: 35vw;
    height: clamp(25vw, 50vh, 40vw);
    border-radius: .5vw;
    transition: transform 0.6s ease; 
    
}

.unidades #img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.unidades #textos_direita{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    color: var(--fundo-claro);
}

#textos_direita h5{
    font-size: 30px;
    font-size: clamp(1.8vw, 30px, 2vw);
    margin-bottom: 10%;
}
#textos_direita li{
    font-size: 28px;
    font-size: clamp(1.5vw, 28px, 1.7vw);
}








@media (max-width: 768px)
{
    #unidades
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    #unidades #img{
        display: none;
    }
}






